@model authentication.Models.SalesLead

@{
    ViewData["Title"] = "Create";
}

<h1>Create new Sale</h1>

<h4>SalesLead</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondName" class="control-label"></label>
                <input asp-for="SecondName" class="form-control" />
                <span asp-validation-for="SecondName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Source"></label>
                <input class="form-control" asp-for="Source" />
                <span class="text-danger" asp-validation-for="Source"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary my-1" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="my-2 btn btn-success">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
